* {
  transition: background-color 0.5s;
}
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
